src/main/app/echo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
 <twitter:config name="Twitter" accessKey="1345420363-f9kZSt98PupZXD9kpu0uulgTuN7v7iyvvhw12Q" accessSecret="o2VENCZz7GIMSG3lbyfay1KTSsDpfpqHSUIU6FvDsso" consumerKey="qsWtzMWODNcabzOJfzcLA" consumerSecret="nHmAO2pUJuUxciaYTdIC9sgVpQNAULmLWaiHJUAc" doc:name="Twitter">
        <twitter:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </twitter:config>
    <flow name="conforeach" doc:name="conforeach">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8085" doc:name="HTTP" doc:description="Process HTTP requests or responses."/>
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[message.inboundProperties['http.query.params']['sname']]" sinceId="2500"/>
        <logger message="#[payload[0].text]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <set-payload value="#[payload.text]" doc:name="Set Payload"/>
            <scripting:component doc:name="Groovy">
                <scripting:script engine="Groovy"><![CDATA[def twt = payload.get(0);
def words = twt.split();
def yos = 0;
def conta = 0;

for (i=0; i < words.length; i++)
{
	if (words[i] == "yo" )
	{
		yos ++;
	} 
	 else if (words[i] == "me" )
	{
		yos ++;
	}
	conta ++;  
}

def outmap = [yocount:yos,wordcount:conta];

return outmap;]]></scripting:script>
            </scripting:component>
           
           
            
            <logger message="&quot;ESTA ES LA POSTA MIRA ESTE NUMERO ACA  &quot;  + #[map-payload:wordcount]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
    
    
    <flow name="sinForEach" doc:name="sinForEach">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8084" doc:name="HTTP" doc:description="Process HTTP requests or responses."/>
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[message.inboundProperties['http.query.params']['sname']]" sinceId="2500"/>
        <logger message="#[payload[0].text]" level="INFO" doc:name="Logger"/>
  
            <enricher   doc:name="Message Enricher">
            <scripting:transformer doc:name="Groovy">
                <scripting:script engine="Groovy">
def yos = 0;
def conta = 0;
def twts = payload.size();


for (def i = 0; i < twts; i++) 
{
def twt = payload[0].text;
def words = twt.split();

	for (def j = 0; j < 5; j++) 
	{

		conta++;  
	}
} 



def outmap = [yocount:yos,wordcount:conta,tweetcount:twts];

return outmap;</scripting:script>
            </scripting:transformer>
       
                <enrich source="#[map-payload:yocount]" target="#[variable:yocount]"/>
                <enrich source="#[map-payload:wordcount]" target="#[variable:wordcount]"/>
            <enrich source="#[map-payload:tweetcount]" target="#[variable:tweetcount]"/>
            </enricher>

       
           
           
            
            <logger message="&quot;YO COUNT  &quot;  + #[yocount] + &quot; la cantidad de tweets es &quot; + #[tweetcount] + &quot; y de palabras &quot; + #[wordcount]" level="INFO" doc:name="Logger"/>

    </flow>
    
    
    <flow name="echoFlow1" doc:name="echoFlow1">
        <scripting:transformer doc:name="Javascript">
            <scripting:script engine="JavaScript"><![CDATA[
var twt = payload.text;
var words = twt.split(" ");
var conta = 0;

for (var i=0; i< words.length; i++)
{
	if (words[i] == "yo")
	{
		conta ++;
	}
}
//return conta;
 flowVars['yocount'] = conta;
]]></scripting:script>
        </scripting:transformer>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[def yos = 0;
def conta = 0;
def twts = payload.size();

for (def j=0; j < twts; j++)
{
def twt = payload[j].get(0).text.value;
def words = twt.split();


for (def i=0; i < words.length; i++)
{
	if (words[i] == "yo" )
	{
		yos ++;
	} 
	 else if (words[i] == "me" )
	{
		yos ++;
	}
	conta ++;  
}
} 
def outmap = [yocount:yos,wordcount:conta,tweetcount:twts];

return outmap;]]></scripting:script>
        </scripting:component>
    </flow>
        <flow name="fixedUsr" doc:name="fixedUsr">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" doc:description="Process HTTP requests or responses."/>
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[message.inboundProperties['http.query.params']['sname']]" count="200"/>
        <logger message="#[payload[0].id]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <logger message="#[payload.text]" level="INFO" doc:name="Logger"/>
            <set-session-variable variableName="&quot;tweetcount&quot;" value="#[payload.text]" doc:name="Session Variable"/>
        </foreach>
        <logger message="&quot;TWEETCOUNT &quot; + #[sessionVars['tweetcount']]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="echoFlow4" doc:name="echoFlow4">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="sendtweet" doc:name="HTTP"/>
        <twitter:update-status config-ref="Twitter" status="#[message.inboundProperties['http.query.params']['tweet']]" doc:name="Update Twitter Status"/>
    </flow>
</mule>


